body {
  margin: 0;
  /* background: red; */
  display: flex;
  flex-flow: column;
  min-height: 120vh;
  font-family: sans-serif;
  background-image: url(../20190901_064925.jpg);
  /* background-image: url(../20190907_134004.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}



.container {
  display: flex;
  border-bottom: .5px solid #333;
}


.container ul {
  display: flex;
  margin: 0;
  margin-left:  auto;
}

.container li {
  display: inline-block;
  /* border: 1px solid rgba(92, 157, 187, .5); */
  margin-right: 12px;
  width: 100px;
  height: 40px;
  vertical-align: center;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  /* background: rgba(58, 74, 78, 0.6); */
  opacity: .5;
}

.container li:hover {
  /* opacity: 1; */
  cursor: pointer;
  background-color: rgb(108, 167, 235);
}

header h1 {
  font-size: 24px;
  padding-bottom: 8px;
  /* border-bottom: 1px solid #ddd; */
  margin: 0;
}

header a {
  text-decoration: none;
}


/* 表の西暦 */
.ad {
  background: cadetblue;
}

/* 表の学歴 */
.ah {
  background: rgb(160, 162, 196);
}

main {
  flex: 1;
}

footer p {
  color: #ddd;
  bottom: 0;
  margin: 0 auto;
  z-index: 1;
}


/* お問い合わせ全体 */
.contactform {
  margin-top: 400px;
  padding: 100px auto 20px;
  /* border: 1px solid red; */
  text-align: center;
  background-color:rgba(0, 0, 0, .1);
}

/* 名前 */
.formname {
  /* border: 1px solid blue; */
  line-height: .1;
}

.formname p {
  color: #333;
  font-weight: bold;
}

.formname input {
  width: 200px;
  height: 20px;
}

/* メール */
.formemail {
  /* border: 1px solid green; */
  line-height: .1;
}

.formemail p {
  color: #333;
  font-weight: bold;
}

.formemail input {
  width: 200px;
  height: 20px;
}


/* 内容 */
.formcontent {
  /* border: 1px solid skyblue; */
  line-height: .1;
}

.formcontent p {
  color: #333;
  font-weight: bold;
}

.formcontent textarea {
  width: 200px;
  height: 100px;
}


@media (max-width: 800px) {
  body {
    background-position: center;
  }
}