body {
  margin: 0;
  /* background: red; */
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.container {
  display: flex;
  border-bottom: .5px solid #333;
}


.container ul {
  display: flex;
  margin: 0;
  margin-left:  auto;
}

.container li {
  display: inline-block;
  border: 1px solid rgb(92, 157, 187);
  margin-right: 12px;
  width: 100px;
  height: 40px;
  vertical-align: center;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  background: rgb(163, 129, 150);
}

.container li:hover {
  opacity: .8;
}

header h1 {
  font-size: 24px;
  padding-bottom: 8px;
  /* border-bottom: 1px solid #ddd; */
  margin: 0;
}


/* 表の西暦 */
.ad {
  background: cadetblue;
}

/* 表の学歴 */
.ah {
  background: rgb(160, 162, 196);
}

main {
  background: blue;
  flex: 1;
}

footer p {
  background: green;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  z-index: 1;
}